---
import { C } from "@configuration";
import { Icon } from "astro-icon/components";
import { Title } from "@ui-kit";
import BaseLayout from "../layouts/base.astro";

const title = "Anasayfa";

const description = `Selam. Ben ${C.AUTHOR.NAME}, ${C.AUTHOR.AGE} yaşındayım. ${C.AUTHOR.COMPANY}'da ${new Date().getFullYear() - 2021} yıldır ${C.AUTHOR.JOB} olarak çalışıyorum. Araştırmaktan ve yeni şeyler öğrenmekten hoşlanıyorum. Öğrendiklerimi başkalarına anlatmayı seviyorum ve bu yüzden blog tutuyorum. Monoton ve aynı içerikli yazılar okuduğumda çığlık atasım geliyor ve insanları sıkıcılıktan kurtarmak için farklı şeyler yazmaya çalışıyorum.`;
---

<BaseLayout title={title}>
  <main>
    <div class="main-container">
      <div class="flex flex-col md:flex-row items-center md:gap-6 mb-4">
        <Icon
          name="logo"
          size={124}
          class="mx-auto shrink-0 md:hidden md:mx-0 animate-scream"
        />
        <div>
          <Title>Bloguma hoş geldin!</Title>
          <p class="mt-4 text-justify md:text-left">{description}</p>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
