---
import { Icon } from "astro-icon/components";

type Props = {
  title: string;
  description?: string;
  headers: string[];
  data: any[][];
};

const { title, description, headers, data } = Astro.props as Props;

const tableBackground = "bg-white";
const tableTextColor = "text-gray-900";
const headerBackground = "bg-slate-100";
const headerTextColor = "text-slate-800";
---

<div
  data-uikit="table"
  class:list={[
    "relative overflow-x-auto border border-slate-200 rounded-lg mb-6",
  ]}
>
  {
    title && (
      <div
        class:list={[
          "p-4 text-lg font-semibold text-left rtl:text-right",
          tableTextColor,
        ]}
      >
        {title}
        {description && (
          <p class="mt-1 text-sm font-normal text-gray-500">{description}</p>
        )}
      </div>
    )
  }
  <table
    class:list={[
      "w-full text-sm text-left text-gray-500 rounded-lg",
      tableBackground,
    ]}
  >
    <thead
      class:list={["text-xs uppercase", headerTextColor, headerBackground]}
    >
      <tr>
        {
          headers.map((h) => {
            if (h.includes("icon-")) {
              return (
                <th scope="col" class="px-6 py-3">
                  <Icon name={h.replace("icon-", "")} size={20} />
                </th>
              );
            }

            return (
              <th scope="col" class="px-6 py-3">
                {h}
              </th>
            );
          })
        }
      </tr>
    </thead>
    <tbody>
      {
        data.map((item) => (
          <tr class="text-black border-b border-gray-200 last:border-b-0">
            {item.map((x, i) =>
              i === 0 ? (
                <th scope="row" class:list={["px-6 py-3 font-medium"]}>
                  {x}
                </th>
              ) : (
                <td class="px-6 py-3">{x}</td>
              )
            )}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
