---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.slug}/`}
  class="px-6 py-4 rounded-lg hover:bg-gray-100"
>
  <div
    class="flex justify-between items-baseline flex-col sm:flex-row text-lg mt-0 mb-1 text-blue break-keep leading-tight"
  >
    <span>{post.data.supTitle ? `${post.data.supTitle} - ` : ""}{post.data.title}</span>
    <FormattedDate date={post.data.pubDate} />
  </div>
  <p class="text-sm">{post.data.description}</p>
</a>
