---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.slug}/`}
  class="px-6 py-4 rounded-lg hover:bg-gray-100"
>
  <h4 class="mb-2 text-blue">{post.data.supTitle} {post.data.title}</h4>
  <div class="flex justify-between text-sm">
    <FormattedDate date={post.data.pubDate} />
    {/* <p class="">{50} views</p> */}
  </div>
  <p class="text-md">{post.data.description}</p>
</a>
