---
import { Image } from "@astrojs/image/components";
import "@fontsource/jetbrains-mono";
import type { CollectionEntry } from "astro:content";
import i18next from "i18next";
import avatarImage from "../assets/avatar.webp";
import SideMenu from "../components/SideMenu.astro";
import { PROFILE } from "../consts";
import type { Heading } from "../models/interfaces/common";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"] | { headings: Heading[] };

const dateOptions: object = {
  year: "numeric",
  month: "short",
  day: "numeric",
};

const { title, description, pubDate, updatedDate, heroImage, supTitle, tags, minutesRead, headings, otherParts } =
  Astro.props;
---

<Layout>
  <main class="flex relative">
    <article class="relative w-full">
      <div class="flex flex-col mb-12">
        <h1 class="mb-5 flex flex-col">
          <span class="text-md md:text-xl font-normal">{supTitle}</span>
          {title}
        </h1>
        <div class="flex items-center">
          <div class="flex items-center gap-2 w-full">
            <Image
              src={avatarImage}
              width={24}
              height={24}
              format="png"
              alt="Writer avatar"
              class="h-6 w-6 border-none"
            />
            <div class="flex justify-between w-full flex-col md:flex-row">
              <div class="text-sm">
                {PROFILE.NAME} / {
                  new Date(pubDate).toLocaleDateString(i18next.language ? "tr-TR" : "en-US", dateOptions)
                }
                / {minutesRead}
              </div>
              <div class="text-sm">
                #{tags.join(" #")}
              </div>
            </div>
          </div>
        </div>
        {
          heroImage && (
            <img
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="mt-8"
            />
          )
        }
      </div>
      <slot />
    </article>
    {
      otherParts && (
        <SideMenu
          titleKey="Serideki Yazıları"
          direction="left"
          headings={otherParts}
        />
      )
    }
    <SideMenu
      titleKey="İçerik"
      direction="right"
      headings={headings}
    />
  </main>
</Layout>

<style is:global lang="scss">
  article {
    * {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }

    a {
      @apply text-blue font-medium hover:brightness-50 break-all;
    }

    iframe {
      @apply mb-6 mx-auto w-full aspect-video rounded-lg;
    }

    ul {
      @apply mb-8;

      li {
        &::before {
          @apply h-[5px] w-[5px] inline-block bg-gray-600 align-middle rounded-full mr-2;

          content: "";
        }
      }
    }

    & > p {
      @apply mb-6;
    }

    p:has(img) {
      @apply -mx-6;

      img {
        @apply w-full md:rounded-lg;
      }
    }

    code,
    pre {
      font-family: "Jetbrains Mono";
    }

    code:not([data-language]) {
      @apply rounded-md text-sm p-1 text-orange;
    }

    pre:not([data-language]) {
      @apply bg-black text-gray-500 -mx-6 -mt-[27px] mb-6 px-6 pb-6 border-gray-700 overflow-x-scroll text-sm grid  md:rounded-b-lg;

      &:before {
        @apply block text-xs font-bold mb-2 uppercase font-mono;

        content: "Output:";
      }

      code {
        @apply text-gray-500 p-0;
      }
    }

    div[data-rehype-pretty-code-fragment] {
      @apply mb-6 -mx-6 overflow-hidden md:rounded-md;

      pre {
        @apply py-8 overflow-x-scroll grid text-sm;

        background-color: #101828 !important;

        code {
          @apply grid;

          &:not([data-line-numbers]) {
            .line {
              @apply pl-6;
            }
          }

          .highlighted {
            background-color: rgba(255, 255, 255, 0.1);
          }

          .word {
            @apply p-1 rounded-md;
          }

          .line {
            @apply px-4;

            &::before {
              /* Other styling */
              display: inline-block;
              width: 1rem;
              margin-right: 1rem;
              text-align: right;
              color: gray;
            }
          }

          &[data-line-numbers] {
            counter-reset: lineNumber;

            .line::before {
              counter-increment: lineNumber;
              content: counter(lineNumber);
              display: inline-block;
              text-align: right;

              /* stylistic preferences */
              margin-right: 0.75rem;
              width: 1rem;
              color: rgb(255 255 255 / 0.2);
            }
          }
        }
      }
    }

    span[data-rehype-pretty-code-fragment] {
      code {
        @apply rounded-md text-sm p-1;
      }
    }

    div[data-rehype-pretty-code-title] {
      @apply bg-black text-gray-400 px-4 py-2 border-b border-gray-700;

      & + pre {
        background-color: #101828 !important;
      }
    }
  }
</style>
