---
import { Image } from "@astrojs/image/components";
import "@fontsource/jetbrains-mono";
import type { CollectionEntry } from "astro:content";
import { t } from "i18next";
import avatarImage from "../assets/avatar.webp";
import FormattedDate from "../components/FormattedDate.astro";
import MyImage from "../components/Image.astro";
import SideMenu from "../components/SideMenu.astro";
import { PROFILE } from "../consts";
import type { Heading } from "../models/interfaces/common";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog-tr">["data"] | { headings: Heading[] };

const dateOptions: object = {
  year: "numeric",
  month: "short",
  day: "numeric",
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  supTitle,
  tags,
  minutesRead,
  headings,
  otherParts,
  disableSideMenu,
} = Astro.props;
---

<Layout>
  <main class="flex relative">
    <article class="relative w-full">
      <div class="flex flex-col md:mb-12">
        <h1>
          <span class="text-md md:text-xl font-normal">{supTitle}</span>
          {title}
        </h1>
        <div class="flex items-center">
          <div class="flex items-center gap-2 w-full">
            <Image
              src={avatarImage}
              width={24}
              height={24}
              format="png"
              alt="Writer avatar"
              class="h-6 w-6 border-none"
            />
            <div class="flex justify-between w-full flex-col md:flex-row">
              <div class="text-sm">
                {PROFILE.NAME} / <FormattedDate date={pubDate} />
              </div>
              <div class="flex text-sm gap-1">
                {minutesRead ? `${minutesRead}` : ""}
                {tags && <div>• #{tags.join(", #")}</div>}
              </div>
            </div>
          </div>
        </div>
        {
          heroImage && (
            <MyImage
              width={720}
              height={360}
              src={heroImage}
              alt=""
            />
          )
        }
      </div>
      <slot />
    </article>
    {
      otherParts && (
        <SideMenu
          titleKey={t("layout.other-articles")}
          direction="left"
          headings={otherParts}
        />
      )
    }
    {
      !disableSideMenu && headings && (
        <SideMenu
          titleKey={t("layout.table-of-content")}
          direction="right"
          headings={headings}
        />
      )
    }
  </main>
</Layout>

<style is:global lang="scss">
  article {
    * {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }

    a {
      @apply text-blue font-medium hover:brightness-50;
    }

    iframe {
      @apply mb-6 w-full aspect-video rounded-lg;
    }

    ul {
      @apply mb-6 flex flex-col gap-2;

      li {
        &::before {
          @apply h-[5px] w-[5px] inline-block bg-gray-600 align-middle rounded-full mr-2;

          content: "";
        }
      }

      ul {
        @apply ml-6 mt-2;
      }
    }

    & > p {
      @apply mb-6;
    }

    code,
    pre {
      font-family: "Jetbrains Mono";
    }

    code:not([data-language]) {
      @apply rounded-md text-sm p-1 text-[#1d4ed8];
    }

    pre:not([data-language]) {
      @apply bg-black text-gray-500 -mt-[27px] mb-6 px-6 pb-6 border-gray-700 overflow-x-scroll text-sm grid  md:rounded-b-lg -mx-6 md:mx-0;

      &:before {
        @apply block text-xs font-bold mb-2 uppercase font-mono;

        content: "Output:";
      }

      code {
        @apply text-gray-500 p-0;
      }
    }

    div[data-rehype-pretty-code-fragment] {
      @apply mb-6 -mx-6 overflow-hidden md:mx-0 md:rounded-md;

      pre {
        @apply py-6 overflow-x-scroll grid text-sm;

        background-color: #101828 !important;

        code {
          @apply grid;

          &:not([data-line-numbers]) {
            .line {
              @apply pl-6;
            }
          }

          .highlighted {
            background-color: rgba(255, 255, 255, 0.1);
          }

          .word {
            @apply p-1 rounded-md;
          }

          .line {
            @apply px-4;

            &::before {
              /* Other styling */
              display: inline-block;
              width: 1rem;
              margin-right: 1rem;
              text-align: right;
              color: gray;
            }
          }

          &[data-line-numbers] {
            counter-reset: lineNumber;

            .line::before {
              counter-increment: lineNumber;
              content: counter(lineNumber);
              display: inline-block;
              text-align: right;

              /* stylistic preferences */
              margin-right: 0.75rem;
              width: 1rem;
              color: rgb(255 255 255 / 0.2);
            }
          }
        }
      }
    }

    span[data-rehype-pretty-code-fragment] {
      code {
        @apply rounded-md text-sm p-1;
      }
    }

    div[data-rehype-pretty-code-title] {
      @apply text-sm bg-black text-gray-400 px-4 py-2 border-b border-gray-700;

      & + pre {
        background-color: #101828 !important;
      }
    }
  }
</style>
